<<<<<<< HEAD
@model ProdutoRegister
=======
@using Raiz.Models;

@model ProdutoCadastroViewModel;
>>>>>>> e81c0a1 (refactor: refatoração geral dos controllers de Produto e Movimentação)

<h1>Novo Produto</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
<<<<<<< HEAD
        <label asp-for="Produto.Nome"></label>
        <input asp-for="Produto.Nome" class="form-control" />
        <span asp-validation-for="Produto.Nome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Produto.Descricao"></label>
        <input asp-for="Produto.Descricao" class="form-control" />
        <span asp-validation-for="Produto.Descricao" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Produto.Preco"></label>
        <input asp-for="Produto.Preco" type="number" step="0.01" min="0" class="form-control" />
        <span asp-validation-for="Produto.Preco" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Produto.CategoriaId"></label>
        <select asp-for="Produto.CategoriaId"
                asp-items="Model.Categorias"
                class="form-control">
            <option value="">Selecione uma categoria</option>
        </select>
        <span asp-validation-for="Produto.CategoriaId" class="text-danger"></span>
=======
        <label asp-for="CodigoBarras"></label>
        <input asp-for="CodigoBarras" class="form-control" />
        <span asp-validation-for="CodigoBarras" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Nome"></label>
        <input asp-for="Nome" class="form-control" />
        <span asp-validation-for="Nome" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Descricao"></label>
        <input asp-for="Descricao" class="form-control" />
        <span asp-validation-for="Descricao" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Preco"></label>
        <input asp-for="Preco" type="number" step="0.01" min="0" class="form-control" />
        <span asp-validation-for="Preco" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CategoriaId"></label>
        <select asp-for="CategoriaId" asp-items="Model.Categorias" class="form-control">
            <option value="">Selecione uma categoria</option>
        </select>
        <span asp-validation-for="CategoriaId" class="text-danger"></span>
>>>>>>> e81c0a1 (refactor: refatoração geral dos controllers de Produto e Movimentação)
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Salvar</button>
    <a asp-action="Index" class="btn btn-secondary">Voltar</a>
</form>

@section Scripts {
<<<<<<< HEAD
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
=======
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
>>>>>>> e81c0a1 (refactor: refatoração geral dos controllers de Produto e Movimentação)
}