@model IEnumerable<Categoria>

<h1>Categorias</h1>

<a asp-action="Create" class="btn btn-primary mb-3">Nova</a>

<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Ação</th>
        </tr>
    </thead>

    <tbody>
    @foreach (var categoria in Model)
    {
        <tr>
            <td>@categoria.Nome</td>
            <td>
                <a asp-action="Edit"
                   asp-route-id="@categoria.CategoriaId"
                   class="btn btn-warning btn-sm">Editar</a>

                <a asp-action="Delete"
                   asp-route-id="@categoria.CategoriaId"
                   class="btn btn-danger btn-sm">Remover</a>
            </td>
        </tr>
    }
    </tbody>
</table>
