@page
@using Raiz.Areas.Identity.Pages.Account.Manage
@model EmailModel
@{
    ViewData["Title"] = "Gerenciar E-mail";
}

<h3 class="mb-4">@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-8">
        <form id="email-form" method="post">
            <div class="form-floating mb-3">
                <input asp-for="Email" class="form-control" placeholder="E-mail atual" disabled />
                <label asp-for="Email" class="form-label">E-mail Atual</label>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="Input.NewEmail" class="form-control" placeholder="Novo e-mail" />
                <label asp-for="Input.NewEmail" class="form-label">Novo E-mail</label>
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
            </div>

            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-primary shadow-sm">
                Salvar Alterações
            </button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}